/GNUmakefile
/build/
/.cache/
/.vscode/
*.pyc
.sdk
.stgit-*
.git-submodule-status
.clang-format
.gdb_history
cscope.*
tags
TAGS
GPATH
GRTAGS
GTAGS
*~
*.ast_raw
*.depend_raw
*.swp
*.patch
*.gcov
mytest_tcg/
.clangd
.codex
CLAUDE.md
my_script/
mytcg-test/
Makefile.camp
